h1{
  font-family: 'Montserrat',sans-serif;
  background-color: #feb6c1;
  color: white;
  text-align: center;
}
h2{
  font-family: 'Montserrat',sans-serif;
  background-color: #feb6c1;
  text-align: center;
  color: white;
}
body {
  background: url("https://img.freepik.com/free-photo/pastel-pink-watercolour-background_1048-6837.jpg?size=338&ext=jpg")
}
.links{
  background-color: #feb6c1;
  padding: 0px 0px 0px 80px;
  border-top: 1px solid #feb6c1;
  border-right: 1px solid #feb6c1;
  border-bottom: 1px solid #feb6c1;
  border-left: 1px solid #feb6c1;
  text-align: center;
}
